<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor</title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
    <div id="editor"></div>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        let url=`ws://${window.location.host}/ws/doc/`
        const socket= new WebSocket(url)
        socket.onmessage=function(e){
            let data=JSON.parse(e.data)
            console.log('Data: ',data)
        }
    </script>

</body>
</html>
