{% extends 'layout.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block style %}

<style>
    .document {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: rgba(118, 114, 114, 0.983);
        /* Use rgba format with transparency */
        margin-right: 10px;
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        position: relative;
        background-color: rgba(255, 255, 255, 0.77);
    }

    .add-member-link {
        position: absolute;
        background-color: rgb(0, 255, 183);
        top: 10px;
        right: 10px;
        color: white;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .add-doc-link {
        position: absolute;
        background-color: rgb(0, 255, 183);
        top: 10px;
        left: 10px;
        color: white;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card a {
        text-decoration: none;
        color: #333;
    }

    .messages {
        list-style: none;
        padding: 0;
        margin: 10px;
        text-align: center;
    }

    .messages p {
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .messages .error {
        background-color: #f8d7da;
        border-color: #f5c6cb;
        color: #721c24;
    }

    .messages .success {
        background-color: #d4edda;
        border-color: #c3e6cb;
        color: #155724;
    }

    .group {
        text-align: center;
        margin: 0;
        padding: 10px;
        background-color: #007BFF;
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 70%;
        margin-left: 200px;
        display: flex;
        align-items: center;
    }

    .group img {
        margin-right: 10px;
    }

    .group h2 {
        margin: 0;
        /* Reset margin to remove default spacing */
        flex: 1;
        /* Allow the group name to take up remaining space */
    }

    .table {
        display: flex;
        /* Use Flexbox for layout */
    }

    .members {
        flex: 1;
        /* Equal distribution of space for both columns */
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #f7f7f707;
        margin-left: 10px;
    }

    .body {
        background-color: rgba(163, 157, 157, 0.31);
        /* Use rgba format with transparency */
    }

    .images {
        padding-left: 50px;
    }

    a.goBack:hover {
        background-color: #2980b9;
    }

    a.goBack {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3498db;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    .notification-button {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 100;
        /* Ensure it's on top of other content */
    }

    .group-name {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        font-size: 1.5em;
        /* Adjust the font size as needed */
    }

    .heading {
        text-align: center;
        font-size: 28px;
        color: #a1a3a4;
        margin-bottom: 50px;
    }

    @media only screen and (max-width: 768px) {
        .card {
            margin-left: 10px;
            margin-right: 10px;
        }

        .group-name {
            margin-left: 0;
            margin-right: 0;
        }

        .add-member-link,
        .add-doc-link {
            position: static;
            margin: 10px;
        }

        .group img {
            margin-right: 10px;
        }
    }
</style>
{% endblock style %}

{% block content %}
{% for message in messages %}
<p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
    {% endfor %} 

    <a href="{% url 'videoCall:createGroup' %}" class="goBack">Create Group</a>
    <a href="{% url 'videoCall:logout' %}" class="goBack" style="background-color: #b1091a;">Logout</a>
    <div class="notification-button">
        {% if notification == False %}
        <a href="{% url 'videoCall:notification' %}">
            <img src="{% static 'images/no_notification.png' %}" height="60px" width="60px">
        </a>
        {% else %}
        <a href="{% url 'videoCall:notification' %}">
            <img src="{% static 'images/notification.png' %}" height="60px" width="60px">
        </a>
        {% endif %}
    </div>

    <h1 class="heading"> Welcome {{profile.user.username}}</h1>

    {% for group in groups %}
    <div class="card">
        <div class="group">
            {% if group.icon != "" %}
                <img src="{{group.icon.url}}" height="40px" width="40px">
            {% endif %}
            <h2 class="group-name">{{ group.name }}</h2>
            <a href="{% url 'videoCall:lobby' group=group.name %}">
                <img src="{% static 'images/call.png' %}" height="30px" width="30px">
            </a>
        </div>
        {% if group in profile.admin.all %}
        <div class="add-member-link">
            <a href="{% url 'videoCall:addMember' group=group.name %}">Add Member</a>
        </div>
        {% endif %}

        {% if group in profile.admin.all %}
        <div class="add-doc-link">
            <a href="{% url 'videoCall:addDoc' group=group.name %}">Create Document</a>
        </div>
        {% endif %}

        <br>

        <div class="table">

            <div class="document">
                <h3> Documents </h3>
                <hr>
                {% for doc in group.doc.all %}
                <a href="{% url 'liveEdit:doc' group=group.name doc=doc.name %}">{{ doc.name }}</a>
                <br>
                {% endfor %}
            </div>

            <div class="document">
                <h3> Recording </h3>
                {% for rec in group.records.all %}
                <a href="{% url 'videoCall:view_recording' group=group.name record=rec.name %}">{{rec.name}}</a>
                {% if rec in profile.recordings.all %}
                <a href="{% url 'videoCall:edit_recording' group=group recording=rec.name %}" class="images"><img
                        src="{% static 'images/edit.png' %}" height="20px" width="20px"></a>
                {% endif %}
                <br>
                {% endfor %}
            </div>

            <div class="document">
                <h3> Members </h3>
                <hr>
                {% for member in group.user_profile.all %}

                {% if group in member.admin.all %}

                <p style="color: #ced1d4;">{{ member.user.username }}
                    {% else %}
                <p>{{ member.user.username }}
                    {% endif %}

                    {% if group in profile.admin.all or member == profile %}
                    <a class="images"
                        href="{% url 'videoCall:remove_member' group=group.name member=member.user.username %}"><img
                            src="{% static 'images/remove.png' %}" height="20px" width="20px"></a>
                </p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock content %}