{% extends 'layout.html' %}

{% block title %} Recording {% endblock title %}

{% block style %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f2f2f2;
    }

    h1 {
        margin-bottom: 20px;
        text-align: center;
        color: aliceblue;
    }

    .video {
        max-width: 100%;
        height: auto;
        display: block;
    }

    a.goBack {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3498db;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    /* Change color on hover */
    a.goBack:hover {
        background-color: #2980b9;
    }

    @media only screen and (max-width: 768px) {
        body {
            height: auto;
            padding: 20px;
        }

        h1 {
            color: aliceblue;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .video {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .video-container {
            margin-top: 20px;
        }

        a.goBack {
            margin-top: 20px;
        }
    }
</style>
{% endblock style %}

{% block content %}
<a href="{{ request.META.HTTP_REFERER }}" class="goBack">Go Back</a>
<h1>{{record}}</h1>
<div class="video-container">
    <video controls {% if group.icon != "" %}poster="{{group.icon.url}}" {% endif %} class="video">
        <source src="{{url}}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
{% endblock content %}